# You will need a .env.local file for local dev server (localhost)
# You will need a .env.test.local file for running the integration tests.

# Create the those files, and add the following variables.
# The local files are ignored by default.

# In .env.local and .env.test.local:
NEXT_PUBLIC_SUPABASE_URL="https://ccnhgchvtgltzyqurlex.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjbmhnY2h2dGdsdHp5cXVybGV4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk3NzkxNTEsImV4cCI6MjA3NTM1NTE1MX0.OMF3RE3Xp51mUBWdhNPsSh1edjaeLFUdx6C3q-Kuq8U"

# In addition to that, you also need .env.test.local with these variables:
SUPABASE_SERVICE_KEY="XXXX"
STRIPE_SECRET_KEY="sk_test_XXX"
STRIPE_PRICE_ID="price_XXX"
STRIPE_WEBHOOK_SECRET="whsec_XXX"